<ion-toolbar class="header">
  <span class="arrow">
    <!-- <ion-icon name="arrow-back" ></ion-icon> -->
    <img src="../../../assets/images/arrow-left.png" alt="">
  </span>
  <div class="header_content">
    <h2>Details</h2>
    <p>Tempor minim id consequat commodo exercitation cupidatat Lorem ad.</p>
  </div>
</ion-toolbar>
<ion-content class="body_content">
  <div class="input_block">
    <div class="input_header">
      <h3>Personal Info</h3>
    </div>
    <div class="input_div">
      <input type="text" class="input">
      <label for="" class="floting_label">Mobile Number</label>
    </div>
    <div class="input_div">
      <input type="text" class="input">
      <label for="" class="floting_label">Full Name</label>
    </div>
    <div class="input_div">
      <div class="check_block">
        <label for="">Gender</label>
      </div>
      <div class="check_block">
        <ion-checkbox checked="false" class="terms"></ion-checkbox>
        <span class="check_text">Male</span>
      </div>
      <div class="check_block">
        <ion-checkbox checked="false" class="terms"></ion-checkbox>
        <span class="check_text">Female</span>
      </div>
      <div class="check_block">
        <ion-checkbox checked="false" class="terms"></ion-checkbox>
        <span class="check_text">Other</span>
      </div>
    </div>
    <div class="input_div pt-15">
      <ion-datetime displayFormat="MM/DD/YYYY" class="input"></ion-datetime>
      <label for="" class="floting_label">Date Of birth</label>
    </div>
    <div class="input_div">
      <input type="text" class="input">
      <label for="" class="floting_label">Email</label>
    </div>
    <div class="input_div">
      <input type="text" class="input">
      <label for="" class="floting_label">Educational Qualification</label>
    </div>
    <div class="input_div">
      <input type="text" class="input">
      <label for="" class="floting_label">Type Of Accomodation</label>
    </div>
    <div class="input_div">
      <input type="text" class="input">
      <label for="" class="floting_label">Pincode</label>
    </div>
    <div class="input_div">
      <input type="text" class="input">
      <label for="" class="floting_label">City</label>
    </div>
    <div class="input_header">
      <h3>Professional Info</h3>
    </div>
    <div class="input_div">
      <input type="text" class="input">
      <label for="" class="floting_label">Employment Type</label>
    </div>
    <div class="input_div">
      <input type="text" class="input">
      <label for="" class="floting_label">Employer Name</label>
    </div>
    <div class="input_div">
      <input type="text" class="input">
      <label for="" class="floting_label">Working Since</label>
    </div>
    <div class="input_div">
      <input type="text" class="input">
      <label for="" class="floting_label">Designation</label>
    </div>
    <div class="input_div">
      <input type="text" class="input">
      <label for="" class="floting_label">Net Monthly Salary</label>
    </div>
    <div class="input_div">
      <ion-checkbox checked="false" class="terms"></ion-checkbox>
      <ion-label>I confirm and accept Rocket Credit products <span>Terms & Conditions</span> and <span> Privacy
          Policy</span></ion-label>
    </div>
    <div class="btn_block">
      <button class="bg_blue" routerLink="../takeloan">Update</button>
    </div>
  </div>
</ion-content>
<ion-toolbar class="footer">
  <ion-tabs #myTabs class="tabs_block" (ionChange)="doSomething($event)">
    <ion-tab-bar slot="bottom">
      <ion-tab-button >
        <!-- <ion-icon name="calendar"></ion-icon> -->
        <img src="../../../assets/images/search.png" alt="">
        <ion-label>Apply Loan</ion-label>
        <!-- <ion-badge>6</ion-badge> -->
      </ion-tab-button>
  
      <ion-tab-button>
        <!-- <ion-icon name="contacts"></ion-icon> -->
        <img src="../../../assets/images/wine.png" alt="">
        <ion-label>Brands</ion-label>
      </ion-tab-button>
  
      <ion-tab-button selected="true">
        <!-- <ion-icon name="map"></ion-icon> -->
        <img src="../../../assets/images/sms.png" alt="">
        <ion-label>Chat</ion-label>
      </ion-tab-button>
  
      <ion-tab-button>
        <!-- <ion-icon name="information-circle"></ion-icon> -->
        <img src="../../../assets/images/pen.png" alt="">
        <ion-label>Blog</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>