<div class="main_block">
  <ion-content class="content_block">
    <div class="top_block">
      <div>
        <div class="tri_block"></div>
        <div class="par_block"></div>
      </div>
      <div class="img_block">
        <img src="../../../assets/images/rocket-logo_92675-157.jpg" alt="" class="logo">
        <div class="title">
          <h1>ROCKET CREDIT</h1>
        </div>
        <div class="bottom_block">
          <div class="btn_block">
            <button class="bg_blue"> <i class="fab fa-linkedin-in"></i> Signin with linkedin</button>
            <button class="bg_blue bg_black"> <i class="fab fa-google"></i> Signin with linkedin</button>
          </div>
          <div class="img_block">
            <img src="../../../assets/images/Vector.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</div>