<ion-toolbar class="header">
  <span class="arrow">
    <!-- <ion-icon name="arrow-back" ></ion-icon> -->
    <img src="../../../assets/images/arrow-left.png" alt="">
  </span>
  <div class="header_content">
    <h2>Take Personal Loan</h2>
    <p>Tempor minim id consequat commodo exercitation cupidatat Lorem ad.</p>
  </div>
</ion-toolbar>
<ion-content class="tl_block">
  <div class="amount_block">
    <div class="loan">
      <h4>Loan Amount</h4>
    </div>
    <div class="amount_inc">
      <!-- <div class="minus_block">
        <span class="minus">
          <ion-icon name="remove"></ion-icon>
        </span>
      </div>
      <div class="">

      </div> -->
      <ion-grid>
        <ion-row>
          <ion-col align-self-start>
            <div class="minus">
              <ion-icon name="remove"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="6">
              ₹ 2,500.0
          </ion-col>
          <ion-col align-self-end style="margin-top:-5px ;">
            <div class="add">
              <ion-icon size="small" name="add"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>